body {
    font-family: Arial, sans-serif;
    margin: 30px
}
h1 {
    color: darkblue;
}
h2 {
    color: darkgreen;
}
img {
    border-radius: 10px;
}
.Kegiatan-organisasi{
    line-height: 1.8;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}